body{
    background:linear-gradient(135deg, #ffc1e3, #ff85c0);
}

.landing-container {
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;

}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.camera-wrapper {
  position: relative;
  display: inline-block;
}

.webcam {
  width: 450px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 15px #aaa;
}


.countdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Take photo button ABOVE the photo slots */
.capture-btn {
  margin-top: 25px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background: #4caf50;
  color: white;
  margin-bottom: 3px;
}

/* 3-photo layout */
.three-photo-grid {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.photo-slot {
  width: 140px;
  height: 120px;
  background: #f0f0f0;
  border-radius: 12px;
  border: 2px dashed #bbb;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-box {
  color: #777;
  font-size: 16px;
}

.photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.after-buttons {
  margin-top: 25px;
}

.retake-btn,
.design-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px;
}

.retake-btn {
  background: #f44336;
  color: white;
}

.design-btn {
  background: #2196f3;
  color: white;
}

.top-section {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  width: 100%;
  margin-bottom: 5%;
}